section#contact {
    min-height: 90vh;
    /* background-color: var(--gray-color); */
    background-image: url('../../public/assets/bedroom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 80%;
    

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact__container-1 {
    color: var(--secondary-color);
    font-size: var(--font-size-heading3);
}

.contact__container-2 {
    background-color: white;
    width: 500px;
    height: 300px;
    padding: 80px 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact__container-2 > input {
    display: inline;
    background-color: rgb(205, 203, 203);
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
    border: none;
    outline: none;
    color: black;
    padding: 0.8rem 2rem;
    font-weight: 500;
}

input::placeholder{
    color: black;
}

.contact__container-2 > button {
    color: var(--secondary-font-color);
    background-color: var(--primary-color);
    padding: 0.8rem 2rem;
    cursor: pointer;
    transition: all 0.5s ease;
    font-weight: 500;
    font-size: var(--font-size-para);
    border: none;
}

.contact__container-2>button:hover {
    color: var(--secondary-font-color);
    background-color: var(--gray-color);
}

/* ------------------------------------------ width 910px ------------------------------------------ */

@media only screen and (max-width:910px) {

    section#contact {
        padding: 3rem;

        flex-direction: column;
    }

    .contact__container-2 {
        width: 80%;
        padding: 50px 30px;
    }

   
}

/* ------------------------------------------ width 500px ------------------------------------------ */

@media only screen and (max-width:500px) {

    section#contact {
        padding: 1rem;
    }

    .contact__container-2 {
        width: 90%;
    }

    .contact__container-2>input {
        padding: 0.5rem 1rem;
    }

}